# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\selfstudy2021\django-airbnbclone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
